.leetcode {

    margin-bottom: 20px;
    margin-left: 10%;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid rgb(104, 236, 139);
    box-shadow: 50px;
    transition: transform 0.2s;

  }
  .codechef{
    margin-left: 70%;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid wheat;
    box-shadow: 50px;
    transition: transform 0.2s;
    align-items: center;
    
  }

  .github{

    margin-bottom: 20px;
    margin-left: 10%;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid rgb(104, 236, 139);
    box-shadow: 50px;
    transition: transform 0.2s;
  }

  .leetcode:hover {
    transform: scale(
      1.2
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .codechef:hover {
    transform: scale(
      1.2
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .code{
    margin-top: 30px;
  }

  .github:hover {
    transform: scale(
      1.2
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
 


  